{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "dev",
  "password": "dev",
  "database": "traderheaven_dev",
  "entities": ["dist/**/*.entity{.ts,.js}"],
  "synchronize": true
}